body {
    margin: 0px;
    padding: 0px;
    margin-left: 50px;
    
    margin-right: 50px;
}


.d1 {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    min-width: 300px;
    width: 100%;
    height: 200px;
    border: 5px solid;
    background-color: #fcfcfc;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.d1 img {
    height: 200px;
    /* width是临时的 */
    width: auto;
    border: 2px solid red;
}

.d1 h1 {
    height: auto;
    width: auto;
    border: 2px solid blue;
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 75px;
    /* 设置字体居中 */
    text-align: center;
    /* 设置字体 */
    font-family: "宋体", "Arial Narrow", sans-serif;
}




.d2 {
    display: flex;
    justify-content: flex-start;
    /* 使子元素靠左对齐 */
    background-color: #b3b3b3;
    width: 100%;
    height: 75px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.nav_top {
    display: flex;
    /* 设置为 flex 容器 */
    width: 100%;
    /* 占据整个 .d2 的宽度 */
}

.d2 ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    /* 占据整个 .nav_top 的宽度 */
    justify-content: space-around;
    /* 子元素间距均分 */

}

.d2 li {
    border: 2px solid green;
    margin: 0;
    /* 移除外边距 */
    text-align: center;
    width: 25%;
}

.d2 a {
    display: block;
    /* 使链接占据整个 li 的空间 */
    padding: 10px;
    /* 为链接添加一些内边距 */
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    width: 100%;
    box-sizing: border-box;
}


.marquee {
    background-color: antiquewhite;
    position: relative;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

.marquee-content {
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}

#closeMarquee {
    position: absolute;
    top: 0px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20px; /* Adjust as needed */
}
.marquee-content:hover {
    animation-play-state: paused;
    /* animation-play-state: paused;  /* 鼠标悬停后暂停动画 */
}

@keyframes marquee {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}



.d3 {
    display: flex;
    background-color: #8c8c8c;
    width: 100%;
    height:auto;
}


/* 左侧分区 */
.right_top{
    background-color: aqua;
    width: 20%;
    height:500px;
    float: left;

}
.middle_top{
    background-color: #00ccff;
    width: 60%;
    height:500px;
    float: left;
}
.left_top{
    background-color: #ffcc00;
    width: 20%;
    height:500px;
    float: left;
}


.d4 {
    background-color: #595959;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.search{
    display: flex;
    background-color: #00bb0c;
}

.search input{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
    width: 45%;
    height: 30px;
    border: 7px inset #d2d4d2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search button{
    z-index: 999;
    background-color: #bb6400;
    height: 44px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search img{
    z-index: 999;
    background-color: #bb6400;
    position: relative;
    height: 44px;
    width: auto;
    margin: 10px;
    margin-left: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


.d5 {
    background-color: #262626;
    display: flex;
    height: 1000px;
}
.aside_left{
    background-color: #bb6400;
    width: 15%;
    height: 1000px;
}
.content_recommend{
    background-color: #ffcc00;
    width: 70%;
    height: 1000px;
}
.aside_rught{
    background-color: #00bb0c;
    width: 15%;
    height: 1000px;
}
.d6 {
    background-color: #3cbdd7;
    display: flex;
    height: 300px;
}



